<%= form_for([:admin,@category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="wrap clear">
    <div class="input-group">
      <%= f.label :title, "Category Title:" %>
      <%= f.text_field :title, :class => "text", :maxlength => "40" %>
    </div>
    <div class="input-group" >
      <%= f.label :parent_id, "Select Parent Category:" %>
      <%= f.select(:parent_id, @categories.collect {|p| [ p.title, p.id ] }, {:include_blank => 'Select Category'}) %>
    </div>
    <div class="input-group">
      <%= f.label :description, "Category Details:" %>
      <%= f.text_area :description, :rows => "3", :cols => "40" %>
    </div>
    <p class="submit">
      <span class="button-large" id="button-large-submit">
        <span><%= f.submit "Create", :id => "register_button" %></span>
      </span>
    </p>
  </div>
<% end %>
