
<h1>Listing categories</h1>

<table id="categories" class="display" data-source="<%= admin_categories_url(format: "json") %>">
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td id="title"><%= category.title %></td>
        <%#*<td id="description">%>
          <%#= "#{truncate(category.description, :length => 70, :omission => '...More')}" %>
        <%#*</td>%>
        <td id="description">
          <% if category.description.length > 60 %>
            <%= category.description[0..60]+' ...'  %> <%=link_to ' More', "#" %>
          <% else %>
            <%= category.description %>
          <% end %>
        </td>
        <td class="actions" id="actions">
          <%= link_to 'Show', admin_category_path(category), :class => "table_action_link" %>
          <%= link_to 'Edit', edit_admin_category_path(category), :class => "table_action_link" %>
          <%= link_to 'Destroy', admin_category_path(category), confirm: 'Are you sure?', method: :delete%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />


<div class="dataTables_add" id="categories_add" style="display:none;">
  <%= link_to 'Add a New category', new_admin_category_path, :id => "add_category", :class => "add_item" %>
</div>

