<%= form_for([:admin,@product]) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="wrap clear">
    <div class="input-group">
      <%= f.label :title, "Title:" %>
      <%= f.text_field :title, :class => "text" %>
    </div>
    <div class="input-group">
      <%= f.label :category_id, "Select Category:" %>
      <%= f.select(:category_id, @categories.collect {|p| [ p.title, p.id ] }, {:include_blank => 'Select Category'}) %>
    </div>
    <div class="input-group">
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description, :rows => "3", :cols => "40"  %>
    </div>
    <div class="input-group">
      <%= f.label :price, "Price(in Dollar):" %>
      <%= f.text_field :price, :class => "text"  %>
    </div>
    <div class="input-group">
      <%= f.label :available, "Total Availability:" %>
      <%= f.number_field :available, :class => "text"  %>
    </div>
    <div class="input-group">
      <%= f.label :photo, "Upload Photo:" %>
      <%= f.file_field :photo %>
    </div>
     <p class="submit">
      <span class="button-large" id="button-large-submit">
        <span><%= f.submit "Create", :id => "register_button" %></span>
      </span>
    </p>
 </div>
<% end %>
