<ul class="clear" id="breadcrumbs">
  <li>
    <a href="/">Home</a>
    <span class="separator">›</span>
  </li>
  <li>Register</li>
</ul>
<div class="row row-narrow">
  <div style="display: none;" class="message-container message-container-connections"></div>
  <div class="form-container">
    <div class="form-container-inner clear">
      <div class="heading">
        <h1>Create an Etsy account and start shopping</h1>
        <a class="signin-link" href="https://www.etsy.com/signin?from_page=http%3A%2F%2Fwww.etsy.com%2Findex.php">Sign In</a>
      </div>
      <div class="pane clear" id="register">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :id => "registration-form") do |f| %>
          <div id="ext-acct-connect" class="connect-wrap">
            <div id="fb-register-container">
              <a class="button-large button-fb" id="facebook-register"><span>Sign Up Using Facebook</span></a>
              <p>It's fast and easy. We'll never post without your permission.</p>
            </div>
            <div style="display: none;" class="spinner-small"></div>
            <input type="hidden" value="" name="external_account_id" />
            <input type="hidden" value="" name="external_avatar" />
            <input type="hidden" value="" name="external_username" />
            <input type="hidden" value="" name="external_account_type_name" />
          </div>
          <div class="or">
            or <span>sign up with your email(<font color="red">All Fields are mandatory</font>).</span>
          </div>
          <% devise_error_messages! %>
          <div class="wrap clear">
            <div class="input-group" id="first_name_group">
              <%= f.label :first_name, "First Name:" %>
              <%= f.text_field :first_name, :id => "first-name", :class => "text", :maxlength => "40" %>
              <span id="first-name-disclaimer" class="inline-notice">
                 Your name will be publicly displayed on Etsy. These fields are mandatory.
              </span>
             <%  if not @msg[:first_name].nil? %>
               <span id="first-name-error" class="inline-input-error-message">
                 <%= "First Name "+@msg[:first_name].join  %>
               </span>
              <% end %>
            </div>
            <div class="input-group" id="last_name_group">
              <%= f.label :last_name, "Last Name:" %>
              <%= f.text_field :last_name, :id => "last-name", :class => "text", :maxlength => "40" %>
              <%  if not @msg[:last_name].nil? %>
                <span id="last-name-error" class="inline-input-error-message">
                  <%= "Last Name "+@msg[:last_name].join %>
                </span>
              <% end  %>
            </div>
            <div class="radio-group" id="gender-group">
                <% ["female", "male"].each do |item| %>
                  <%= f.radio_button :gender, item, :id => "#{item}" %> <%= f.label :gender,  "#{item}".capitalize %>
                <% end %>
                <%= f.radio_button :gender, 'private', :id => "private" %><%= f.label :gender, "Rather not say" %>
            </div>
            <hr />
            <div class="input-group" id="email_group">
              <%= f.label :email, "Email:" %>
              <%= f.email_field :email, :id => "email", :class => "text", :autocapitalize => "off", :autocorrect => "off" %>
              <span id="email-disclaimer" class="inline-disclaimer-message">
                <span id="pending-email-disclaimer">Your confirmation will be sent to your email address.</span>
                <span id="valid-email-disclaimer">Your confirmation will be sent to %email%.</span>
              </span>
              <%  if not @msg[:email].nil? %>
                <span id="email-error" class="inline-input-error-message">
                  <%= "Email "+@msg[:email].join %>
                </span>
              <% end %>
              
            </div>

            <div class="input-group">
              <%= f.label :password, "Password:" %>
              <%= f.password_field :password, :id => "password", :class => "text", :autocomplete => "off" %>
              <% if not @msg[:password].nil? %>
                <span id="password-error" class="inline-input-error-message">
                  <% @msg[:password].each do |msg| %>
                    <%= "Password "+ msg %>
                    <br />
                  <% end %>
                </span>
              <% end %>
            </div>

            <div class="input-group">
              <%= f.label :password_confirmation, "Re-Enter Password:" %>
              <%= f.password_field :password_confirmation, :id => "password-repeat", :class => "text", :autocomplete => "off" %>

              <%#*<span id="password-repeat-error" class="inline-input-error-message"></span>%>
            </div>
            
            <hr />

            <div class="input-group input-group-username input-group-big-disclaimer" id="username-group">
                <%= f.label :username, "Username:" %>
                <%= f.text_field :username, :maxlength => "20", :id => "username", :class => "text", :autocapitalize => "off", :autocorrect => "off" %>
                <% if not @msg[:username].nil? %>
                  <span id="username-error" class="inline-input-error-message">
                    <%= "Username "+@msg[:username].join %>
                  </span>
                <% end %>
            </div>
            <div class="suggested-username-tip alternatives">
              <span class="arrow"></span>
              <span>Other suggestions:</span>
            </div>
            <div class="suggested-username-tip no-alternatives">
              <span class="arrow"></span>
              <span>Use our suggestion or enter your own</span>
            </div>
            <hr />
            <p class="fineprint">
              By clicking Register, you confirm that you accept our
              <%= link_to "Terms of Use", "help/article/479", :target => "_blank" %> and <%= link_to "Privacy Policy", "help/article/480", :target => "_blank" %>.
            </p>
           
            <p class="submit">
              <span class="button-large" id="button-large-submit">
                <span><%= f.submit "Register", :id => "register_button" %></span>
              </span>
            </p>
            <div class="checkbox">
              <%= f.check_box :newsletter %>
              <%= f.label :newsletter, "Sign up for the Etsy Finds newsletter." %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<%=
#render :partial => "devise/shared/links"
%>
